<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Tutora de matemáticas</h3>
                <h5>  •    2016 - 2020</h5>
            </li>
            <p>Dí clases de álgebra, aritmética y matemática aplicada a estudiantes de secundaria, bachiller, y universidad, con el objetivo de que comprendan cómo funcionan y porqué.</p>
            <li>
                <h3>Desarrolladora de contenidos</h3>
                <h5>  •    2020 - actualidad</h5>
            </li>
            <p>Soy encargada de generar ideas y proponerlas, generando argumentos a favor y en contra de su implementación, con el fin de generar un contenido óptimo para los usuarios del juego. También me dediqué a la elaboración de guías necesarias, actualización y constante adaptación de las mismas.</p>
        </ul>
    </div>
</div>