<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <h2>Estudios</h2>
        <ul>
            <li>
                <h3>Educación secundaria: Bachiller de Administración y Economía</h3>
                <h5>  •    2013 - 2015</h5>
            </li>
            <p>Conocimientos básicos sobre contabilidad, administración, y economía política. Con leve orientación en matemáticas avanzadas.</p>
            <li>
                <h3>Argentina Programa, #SéProgramar</h3>
                <h5>  •    2021</h5>
            </li>
            <p>Curso de 3 meses, con cupo otorgado por el ministerio de educación de Argentina, cuyo contenido fue lógica de programación.</p>
            <li>
                <h3>Argentina Programa, #YoProgramo</h3>
                <h5>  •    2022</h5>
            </li>
            <p>Curso de 7 meses compuesto por formación en programación y pensamiento computacional. Los conocimientos obtenidos variaron, tanto en front como en back-end.</p>
            <li>
                <h3>Udemy, Angular</h3>
                <h5>  •    2022</h5>
            </li>
            <p>Curso integral para la formación orientada a Angular.</p>
        </ul>
        <h2>Idiomas</h2>
        <ul>
            <li>
                <h3>Inglés</h3>
                <h5>  •    Desde 2010</h5>
            </li>
            <p>Nivel: B2. Alto entendimiento del mismo.</p>
            <li>
                <h3>Francés</h3>
                <h5>  •    Desde 2022</h5>
            </li>
            <p>Nivel A2. Entendimiento básico; estudio por cuenta propia mediante herramientas de internet y libros.</p>
        </ul>
    </div>
</div>