.row {
    background-color: bisque;
    margin: 0vw;
    padding: 20px;
}

.container {
    width: auto;
}

.texto, .imagen {
    display: inline-block;
    text-align: justify
}

.proyecto {
    box-shadow: 10px 10px 30px #644e2a;
}