<!-- <div class="container"> -->
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <h3>Hard Skills</h3>
        <div class=" text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="55"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'JS'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="45"
            [radius]="100"
            [imageSrc]="'../../assets/ts.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'TS'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="45"
            [radius]="100"
            [imageSrc]="'../../assets/Angular.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'Angular'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="10"
            [radius]="100"
            [imageSrc]="'../../assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="55"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'MySQL'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="25"
            [radius]="100"
            [imageSrc]="'../../assets/java.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="53"
            [showUnits]="false"
            [title]="'Java'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="5"
            [radius]="100"
            [imageSrc]="'../../assets/spring-boot.png'"
            [showImage]="true"
            [imageHeight]="45"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'SpringBoot'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../../assets/en.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'ingles'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <circle-progress
            [percent]="40"
            [radius]="100"
            [imageSrc]="'../../assets/fr.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [title]="'frances'"
            [titleFontSize]="'2em'"
            [titleColor]="'#BD505B'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#A86EE9'"
            [innerStrokeColor]="'#E3717C'"
            [animation]="true"
            [animationDuration]="1000"></circle-progress>
        </div>
    </div>
<!-- </div> -->
