<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/profilePicturePortfolio.jpg" class="img-fluid " id="profile-picture">
    </div>
    <!-- <div class="background-bisque col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="miNombre">Enrriquez Florencia Romina</p>
            <p id="fullStack">Full-stack Developer</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>
                    Acerca de mí
                </h1>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos aliquam, iure, molestias fuga ea numquam, ab facere odit beatae repellendus sequi delectus cupiditate. Nam fuga ea, tenetur qui ipsa consequatur.
                </span>
            </span>
        </div>
   <!-- </div>-->
</div>