<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" alt="logo de Argentina Programa" id="logoArgProg">
        </div>
        <div class="redes">
            <a href="https://github.com/EnrriquezF" > <img src="../../../assets/github-icon.png" alt="Icono Github" class="pad"></a>
            <a href="https://www.linkedin.com/in/florencia-enrriquez-34bb61234/"> <img src="../../../assets/fi-cnsuxx-linkedin.png" alt="Icono Linkedin" class="pad"></a>
            <button type="button" class="btn btn-dark btn-outline-light pad">Acceso</button>
        </div>
    </div>
</div>


